<main class="container">
  <%= link_to sanitize("&larr; Back to resume_employments"), resume_employments_path %>
  <div class="header">
    <h1>
      <%= @employments.name %>
    </h1>
  </div>
</main>