<div class="text-center">
  <div class="text-3xl font-semibold ">
    Get hired
  </div>
  <div class="my-10 text-gray-600">
    Say goodbye to the frustration and time-consuming task of creating a professional resume from scratch.
  </div>
  <%= render Input::ButtonComponent.new(text: "Get Started") %>
</div>